header {
  padding: 25px;
  background-color: ea0634;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

a {
  color: white
}

nav {
  padding: 20px;
  background-color: 404040;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

article {
  margin: 25px;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

p {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

footer {
  padding: 20px;
  background-color: 404040;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}